<?xml version="1.0" encoding="UTF-8" ?>
<suite name="MyBatisWithTestng">
    <!--GeorgeTest-->
    <!--for test jira1-->
    <test name="testCase">
        <classes>
            <class name="com.course.test.LoginInTest">
                <methods>
                    <include name="loginTrue"/>
                    <include name="loginFalse"/>
                </methods>
            </class>
            <class name="com.course.test.addUserTest">
            <methods>
            <include name="addUser"/>
            </methods>
            </class>
            <class name="com.course.test.getUserInfoTest">
            <methods>
            <include name="getUserInfo"/>
            </methods>
            </class>
            <class name="com.course.test.updateUserInfoTest">
            <methods>
            <include name="updateUserInfo"/>
            <!--<include name="deleteUser"/>-->
            </methods>
            </class>

        </classes>



    </test>


    <listeners>
        <listener class-name="com.vimalselvam.testng.listener.ExtentTestNgFormatter"/>
    </listeners>
</suite>
